@import "tailwindcss";

@custom-variant dark (&:is(.dark *));





:root {
  --qb-dialog-container-width: 140px;
  --qb-dialog-drag-handler-height: 24px;
  --qb-comp-card-base-overflow: visible;
  --qb-highlight-underline-thickness: 2px;
  --qb-highlight-selected-underline-thickness: 2px;
  --qb-highlight-underline-offset: 2px;
  --qb-highlight-grammar-error-underline-color: #f2a6a6;
  --qb-highlight-grammar-error-background-color: transparent;
  --qb-highlight-grammar-error-selected-underline-color: #df2020;
  --qb-highlight-grammar-error-selected-background-color: rgba(220, 38, 38, 0.1);
  --qb-highlight-grammar-error-emphasized-underline-color: #df2020;
  --qb-highlight-grammar-error-emphasized-background-color: rgba(220, 38, 38, 0.1);
  --qb-highlight-spelling-error-underline-color: #f2a6a6;
  --qb-highlight-spelling-error-background-color: transparent;
  --qb-highlight-spelling-error-selected-underline-color: #df2020;
  --qb-highlight-spelling-error-selected-background-color: rgba(220, 38, 38, 0.1);
  --qb-highlight-spelling-error-emphasized-underline-color: #df2020;
  --qb-highlight-spelling-error-emphasized-background-color: rgba(220, 38, 38, 0.1);
  --qb-highlight-style-error-underline-color: #00000033;
  --qb-highlight-style-error-background-color: transparent;
  --qb-highlight-style-error-selected-underline-color: #B4B4B4;
  --qb-highlight-style-error-selected-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-style-error-emphasized-underline-color: #B4B4B4;
  --qb-highlight-style-error-emphasized-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-selection-paraphrase-word-underline-color: #0042d7;
  --qb-highlight-selection-paraphrase-word-background-color: transparent;
  --qb-highlight-selection-paraphrase-phrase-underline-color: #0042d7;
  --qb-highlight-selection-paraphrase-phrase-background-color: rgb(0, 103, 197, 0.15);
  --qb-highlight-selection-paraphrase-sentence-underline-color: transparent;
  --qb-highlight-selection-paraphrase-sentence-background-color: rgb(0, 103, 197, 0.15);
  --qb-highlight-selection-toolbox-word-underline-color: #00000033;
  --qb-highlight-selection-toolbox-word-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-selection-toolbox-phrase-underline-color: #00000033;
  --qb-highlight-selection-toolbox-phrase-background-color: rgb(0, 103, 197, 0.15);
  --qb-highlight-selection-toolbox-sentence-underline-color: transparent;
  --qb-highlight-selection-toolbox-sentence-background-color: rgb(0, 103, 197, 0.15);
  --qb-highlight-sentence-from-hover-underline-color: transparent;
  --qb-highlight-sentence-from-hover-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-word-from-hover-underline-color: transparent;
  --qb-highlight-word-from-hover-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-sentence-from-caret-underline-color: #00000033;
  --qb-highlight-sentence-from-caret-background-color: rgba(67, 67, 67, 0.1);
  --qb-highlight-word-from-caret-underline-color: transparent;
  --qb-highlight-word-from-caret-background-color: rgba(67, 67, 67, 0.1);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.bg-header {
  background: linear-gradient(90deg, white var(--qb-dialog-container-width), #0053a3 var(--qb-dialog-container-width));
}

.navlink {
  position: relative;
}

/* .navlink::after {
  content: url(../../public/download.svg);
  position: absolute;
  width: 17px;
  left: 320px;
  top: -40px;
  z-index: -1;
  position: absolute;
} */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}



/* .bg-three{ background: linear-gradient(135deg, #00acc3 0%, #007a8a 50%, #004d56 100%)} */
/* --gradient-primary: linear-gradient(135deg, #00acc3 0%, #007a8a 50%, #004d56 100%);
  ;
  --gradient-secondary: linear-gradient(135deg, #ffd2b2 0%, #ffb999 100%); */

.section {
  overflow: hidden;
  padding: 60px 0;
}


/* .card:hover .overlay{
background: transparent;
} */

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 212, 27, 0.7);
  /* Yellow with transparency */
  pointer-events: none;
  /* Allow interactions with content beneath */
}

.btn span i {
  font-size: 30px;
  font-weight: 900;
}


.css-149tc0y-MuiCardHeader-root {
  padding-bottom: 0px !important;
}

.MuiCardContent-root {
  padding-top: 0px !important;

}


.bg-img {
  background: url("/img/tab_bg.jpg") no-repeat;
  background-size: cover;
}



.bg-two {
  background: linear-gradient(to right, #091B3C 30%, white 21%);
}

@media (max-width: 991px) {
  .bg-two {
    background: transparent !important;
  }

  .bg-header {
    background: white;
  }
}

li {
  margin-bottom: 4px;
}

li::marker {
  color: blue;
  font-weight: 16px;
}


.css-1f1pi2l-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  margin: 0;
}

.css-yfrx4k-MuiAccordionSummary-content {
  margin: 0;
}

.css-1f1pi2l-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid #B4B4B4 !important
}


.product-card {
  min-height: 200px;
}

.product-card img {
  height: 120px !important;
  border-radius: 8px;

}

.product-card h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card:hover h4 {
  color: #ffcc00 !important;

}

.product-card:hover p {
  color: #0042d7 !important;
}

/* ul li{
  position: relative;
}
.Two li::before{content: " ";
display: block;
width: 0.4375rem;
height: 0.375rem;
position: absolute;
top: 0.5rem;
left: -20px;
background: url(/img/download.png);} */


table {
  overflow-x: scroll;
}

.white-bullets li::marker {
  color: white !important;
}

link,
a,
button {
  cursor: pointer;

}



/* global.css ya tailwind.css me */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* scrollbar ki width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* background of track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind blue-500 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Tailwind blue-600 */
}

/* Firefox ke liye */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f1f1f1;
}


.custom-clip {
  clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
}

@media (max-width: 991px) {
  .custom-clip {
    clip-path: none !important;
  }
}


.blog-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  color: #1e293b;
  line-height: 1.8;
  font-size: 16px;
}

/* Headings */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  color: #0f172a;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
}

.blog-content h1 {
  font-size: 32px;
}

.blog-content h2 {
  font-size: 26px;
}

.blog-content h3 {
  font-size: 22px;
}

/* Paragraph */
.blog-content p {
  margin-bottom: 15px;
}

/* Links */
.blog-content a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.blog-content a:hover {
  text-decoration: underline;
}

/* Lists */
.blog-content ul,
.blog-content ol {
  padding-left: 30px !important;
  margin:20px 0px   !important;
}
.blog-content ul{
   margin:20px 0 !important;
   list-style-type:   disc;

}

.blog-content li {
  margin-bottom: 8px;
}

/* Blockquote */
.blog-content blockquote {
  border-left: 4px solid #2563eb;
  padding-left: 15px;
  margin: 20px 0;
  font-style: italic;
  background: #eff6ff;
  padding: 15px;
  border-radius: 6px;
}

/* Images */
.blog-content img {
  max-width: 100%;
  border-radius: 12px;
  margin: 20px 0;
}

/* Code */
.blog-content code {
  background: #f1f5f9;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.blog-content pre {
  background: #0f172a;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto ;

  
} 



